@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Proza+Libre&family=Satisfy&family=Spectral&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.produto {
  height: 50vh;
  width: 100%;
  background-color: #fffeff3d;
  padding-left: 10%;
  padding-top: 4%;
  display: flex;
}

.lado-esquerdo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lado-esquerdo img {
  display: flex;
  justify-content: center;
  max-width: 350px;
  border: 5px solid hsl(343, 48%, 80%);
  margin-left: 200px;
}

.lado-direito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 5px solid hsl(343, 48%, 80%);
  padding: 20px;
  width: 70%;
  margin-right: 250px;
  text-align: justify;
}

.lado-direito h2 {
  font-size: 40px;
}

.lado-direito p {
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 50px;
}

.lado-direito span {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.lado-direito a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: hsl(343, 48%, 80%);
  width: fit-content;
  padding: 15px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
